* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

ul#menu li {
  display: block;
  float: left;
  margin: 10px;
  text-align: center;
  font-size: 2vh;
}

ul#menu {
  justify-content: center;
  display: flex;
  background-color: #dfdfdf;
}

#test {
  max-width: 100%;
  margin: 25px;
  padding: 25px;
  border: 25px;
}
